* {
	/*Se usa para darle a todos los elementos este tipo de letra*/
    font-family: 'Outfit', sans-serif;

    margin: 0px;
    font-size: 15px;
    box-sizing: border-box;
}
body {
	/*Color Light gray*/
    background-color: hsl(212, 45%, 89%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.container {
    width: 320px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    /*Color White*/
    background-color: hsl(0, 0%, 100%);
    border-radius: 15px;
    box-shadow: 5px 10px 20px 10px rgba(0, 0, 0, .07);
}
img {
    width: 288px;
    border-radius: 8px;
}
.text {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 16px;
    text-align: center;
}
h2 {
    font-size: 1.43rem;
    font-weight: 700;
    /*Color Dark Blue*/
    color: hsl(218, 44%, 22%);
}
p {
    font-weight: 400;
    /*Color Grayish Blue*/
    color: hsl(220, 15%, 55%);
}
.attribution {
    position: absolute;
    bottom: 30px;
}